.about--title{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #64CCC5;
    width: 70%;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 8px grey;
}
.bio{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
}
.about--title-mi p{
    padding: 15px;
    
}
.about--title img{
    width: 100px;
    
}